@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="email" name="email" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" />
    </p>
</form>